* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3";
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

.fixed .nav-bar-links li a.active,
.nav-bar-links li a.active+i {
    color: #291fbc;
}

.nav-bar-links li .home-link.active {
    color: rgba(255, 255, 255, 0.37);
}

.nav-bar-links li .home-link i.active {
    color: rgba(255, 255, 255, 0.37);
}


.nav-bar-links li a.active,
.nav-bar-links li a.active+i {
    color: #291fbc;
    /* Change the color to your desired color */
}

.header {
    display: flex;
    gap: 263px;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: transparent;
    padding: 20px 30px !important;
    transition: background-color 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 900;
    width: 100%;
    top: 0;
    left: 0;

}

.logo-img a {
    text-decoration: none;
}

.main-menu {
    position: relative;
}

.nav-bar-links {
    display: flex;
    list-style: none;
    gap: 30px;

}

.nav-bar-links a {
    text-decoration: none;
    margin-left: 1px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.nav-bar-responsive {
    position: absolute;
    background-color: #fff;
    left: 169px;
    height: 400px;
    padding: 90px 0px 40px 30px;
    width: 54%;
    display: none;
    z-index: 999;
    transition: 0.8s ease-in-out;
}


.sign-in-btn a {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 5px;
    position: relative;
    top: 30px;
}

.nav-bar-responsive .nav-bar .nav-bar-links {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
}


.nav-bar-links-responsive li a {
    color: #000;
    text-decoration: none;

}

.nav-bar-links-responsive li {
    list-style-type: none;
}

.nav-bar ul li {
    display: flex;
    gap: 4px;
    align-items: center;
}

.nav-bar-links li i {
    font-size: 13px !important;
}

.log-in-btn {
    font-weight: 600;
    padding: 11px 30px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    font-size: 16px;
    text-transform: uppercase;
    background: none;
    transition: 0.3s ease-in-out;
}

.request-btn {
    background-color: #e67e22;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.header-btn {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

}

.header-btn i {
    padding: 11px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}

.fixed .header-btn i {
    padding: 11px;
    border-radius: 50%;
    background-image: linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
    color: #fff;
}

.fixed .openBtn span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 50%;
    z-index: -1;
    animation: ripple 1.5s ease-out infinite;
    animation-delay: 0.2s;
    background-color: #1606f594;
}


@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(3);
    }
}

.earn-btn {
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
    font-size: 16px;
}

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 90px;
    width: 100%;
    background-size: cover;
}

#main-heading {

    font-size: 48px;
}

#heading1 {
    color: rgb(255 139 0);
}

/* hero-section -animation */
.slide-in-left {
    -webkit-animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.main {
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sub-heading {
    font-size: 47px;
    font-weight: 700;

    letter-spacing: -1px;
}

.cloud img {
    background: blue;
    border-radius: 50%;
    padding: 20px;
    width: 100px;
}

.cloud {
    width: 385px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: 10px 0px 20px 10px #dadada;
    padding: 40px 30px;
    justify-content: center;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    position: relative;

}

.cloud::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
    width: 100%;
    height: 100%;
    transform: translateY(100%);

    transition: transform 0.5s ease;

}

.cloud:hover::before {
    transform: translateY(0);
    z-index: -1;
}

.cloud i {
    color: #2a1fbc;
}

.cloud h4 {
    font-size: 24px;

    letter-spacing: -0.4px;
}

.cloud i {
    font-size: 60px;
}

.text p {
    text-align: center !important;
}

.cloud p {
    font-size: 16px !important;
    width: 100% !important;
    color: #272827;
    line-height: 1.5;
    text-align: center;
}

.cloud:hover i,
.cloud:hover h4,
.cloud:hover p {
    color: #fff;

    transition: color 0.3s ease;
}

.top-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icon-section {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 50px 90px;
}

.hero-heading {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1.2;
    width: 600px;

}

.header.fixed {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fixed.nav-bar-links li a {
    color: blue;
    text-decoration: none;
}

.sub-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    letter-spacing: -1px;

}

.page-header.dc-six:before {
    height: 140%;
    width: 120%;
    border-radius: 80px;
    background: var(--heading-text-color);
    content: "";
    position: absolute;
    left: -16%;
    top: -68%;
    transform: rotate(-30deg);
    z-index: -1;
}

.page-header.dc-six {
    position: relative;
}

.hero-section {

    width: 100%;
}

.hero-banner-img {
    position: relative;
}

.Plant-pot {
    position: absolute;
    top: 200px;
    right: 415px;
}

.Plant-pot img {
    height: 210px;
}

.openBtn {
    position: relative;
}

.openBtn span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 50%;
    z-index: -1;
    animation: ripple 1.5s ease-out infinite;
    animation-delay: 0.2s;
    background-color: #ffffffd2;
}


@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(3);
    }
}


.page-header.dc-six:before {
    background: linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);

}

.hero-banner a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    border: 2px solid #fff;
    padding: 11px 30px;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: 0.6s ease-in-out;
}

#white-btn {
    text-decoration: none !important;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #485974;
    border: 2px solid #fff;
    padding: 11px 30px;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #fff;
}

.brand-img-section img:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

}

.hero-banner a:hover {
    background-color: #fff;
    color: #000fff;
}

.hero-btn a i {
    font-size: 24px !important;
}

.hero-btn {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

#better {
    font-family: 'Alegreya', serif;
    font-style: italic;
}

#data {
    font-family: 'Alegreya', serif;
    font-style: italic;
    color: #291fbc;
}



.fixed .header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.nav-bar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero-heading p {
    width: 95%;
    line-height: 22px;
    margin-top: 30px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}

.line {
    width: 60px;
    height: 6px;
    background: linear-gradient(to right, #488fed 0%, #291fbc 100%);
}


.log-in-btn:hover {
    background-color: #fff;
    color: #000;
}

.fixed .sub-menu li a:hover {
    color: #291fbc;
}

.fixed .nav-bar-links li a {
    color: #000;
}

.fixed .log-in-btn {
    color: #291fbc;
    background-color: #fff;
    border: solid 2px #291fbc;
    transition: 0.4s ease-in-out;

}



.fixed .log-in-btn:hover {
    color: #fff;
    background-color: #291fbc;
}

.fixed .logo-img h1 {
    color: #000;
}

.fixed .nav-bar li i {
    color: #000;

}

.main-p {
    text-align: center;
    width: 60%;
    font-size: 20px;
    line-height: 1.6;
    color: #272827;
}

.t-span {
    font-family: 'Alegreya', serif;
    font-style: italic;
    color: #2a1fbc;
}

.tracking-heading h1 {
    color: #000 !important;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -1px;
    width: 88%;
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tracking-section {
    display: flex;
    padding: 20px 90px;
    width: 100%;
    max-width: 1350px;
}

.tracking-para p {
    text-align: left;
    font-size: 17px;
    width: 80%;
    line-height: 1.5;
    color: #272827;
}

.tracking-list-ul {
    position: relative;
    right: 18px;
    z-index: 1;
}


.tracking-list-ul li::before {
    content: url('images/Group\ 1.png');
    display: inline-block;
    margin-right: 10px;

}



.tracking-list ul li {
    list-style-type: none;
    font-size: 17px;
    color: #272827;

}

.tracking-list {
    margin-left: 18px;
}

.tracking-btn {
    margin-top: 10px;
}


.tracking-btn a {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px 30px;
    border-radius: 5px;
    line-height: 48px;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to bottom, #488fed 0%, #2a1fbc 100%);
    ;
    transition: ease-in-out;
    box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
}

.tracking-list-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tracking-btn a:hover {
    color: #fff;
    background-color: #291fbc;
    background-image: unset;
}

.logo-img-responsive {
    display: none;
}
.border-bottom{
    border-bottom: 2px solid #291fbc;
    font-size: 20px;
}
.border-bottom-general{
    font-size: 24px;
}
.term-heading{
    font-size: 24px;
}

.refund-contain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.refund-container{
    width: 1200px;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.text-left{
    font-size: 30px;
}
.multiple-items{
    color: #000;
}
/* media query */
@media only screen and (max-width: 500px) {
    .hero-banner {
        flex-direction: column;
        gap: 70px;
        padding: 100px 20px;
        background-image: linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
    }
    .sec-title h2{
        font-size: 40px !important;
    }
    .container{
        max-width: 350px !important;
    }
    .form-content {
        width: 350px;
    }
    .multiple-items{
        max-width: 300px !important;
        /* padding: 100px 0px !important; */
    }

    .contact-form {
        flex-direction: column;
        padding: 100px 0px !important;
        align-items: center;
    }

    .form-box h2 {
        left: 95px !important;
        bottom: 30px !important;
    }

    .nav-bar-responsive {
        display: none;
    }

    .log-in-container {
        padding: 400px 0px !important;
    }

    .pricing-btn:hover {
        color: #fff !important;
        background-color: #291fbc !important;
    }

    .pricing-btn {
        color: #291fbc !important;
        background-color: #fff;
        border: solid 2px #291fbc;
        transition: 0.4s ease-in-out;
    }



    .openBtn {
        display: none !important;
    }

    .header {
        gap: 130px !important;
        padding: 20px 10px !important;
        z-index: 900;
    }

    .price-plan-card {
        flex-direction: column;
        gap: 100px !important;
        width: 100% !important;
    }

    .plan-cost-box {
        left: 100px !important;
    }

    .steps {
        gap: 80px !important;
    }

    .hamburger {
        display: block !important;
        position: absolute;
    }

    .price-card-row1::before {
        margin-left: 90px !important;
    }

    .form-demo {
        width: 80vw !important;
    }

    .form-message-demo {
        width: 80vw !important;
    }

    .steps::after {
        width: 125px !important;
    }

    .price-card-text {
        width: 350px !important;
    }

    .full-height {
        height: 100% !important;
    }

    .log-in-inner-box {
        flex-direction: column;
    }

    .nav-log-in h3 {
        bottom: 0 !important;
        border-radius: 6px 6px 0px 0px !important;

    }

    .nav-log-in {
        position: absolute;
        bottom: 0px;
    }

    .form-box {
        width: 360px !important;
        padding: 50px 50px !important;
        border-radius: 0px 0px 6px 6px !important;
    }

    .intro-box {
        width: 360px !important;
        padding: 60px 50px !important;
        border-radius: 6px 6px 0px 0px !important;
    }

    h1 {
        font-size: 36px !important;
    }

    .logo-img-responsive {
        display: block;
        position: absolute;
    }

    .logo-img-responsive h2 {
        position: absolute;
        right: 116px;
        bottom: 2307px;
        color: #fff;
        z-index: 999;
    }

    .Plant-pot {
        left: 0px !important;
        display: none !important;
    }

    .Plant-pot img {
        width: 50px !important;
        height: 50px;
    }

    .email-section {
        width: 64% !important;
    }

    .footer-nav {
        margin-right: 80px;
    }

    .page-header.dc-six:before {
        display: none !important;

    }

    .main p {
        width: 88% !important;
    }

    .form-section {
        padding: 0px 17px !important;
    }

    .form-text h2 {
        line-height: 53px;
        font-size: 35px !important;
    }

    .form-header h3 {
        font-size: 24px !important;
    }

    .plan-heading h2 {
        font-size: 36px !important;
    }

    .plan-para p {
        width: 80% !important;
    }

    .brand-heading h2 {
        font-size: 36px !important;
        width: 83% !important;
    }

    .brand-para {
        margin-left: 40px !important;
    }

    .contact-text h2 {
        font-size: 40px !important;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-text {
        text-align: center !important;
        width: 83% !important;
    }

    .hero-heading {
        width: 100% !important;
    }

    .brand-para p {
        padding: 0px 30px !important;
    }

    .nav-bar {

        display: none !important;

    }

    .icon-section {
        flex-direction: column;
    }

    .tracking-section {
        flex-direction: column-reverse;
    }

    .page-header.dc-six:before {
        position: absolute;
        left: 0px;
        top: -20px;
        height: 130%;
        transform: rotate(-5deg);
        border-radius: 10%;
        width: 120%;
    }

    .hero-banner img {
        width: 280px !important;
    }


    .hero-btn {
        flex-direction: column;
    }

    .cloud {
        width: 280px;
    }

    .tracking-img img {
        width: 280px;
    }

    .sub-heading {
        font-size: 36px;
    }

    .cloud h4 {
        text-align: center;
    }

    .icon-section {
        padding: 50px 40px;
    }

    .achievement-cards {
        flex-direction: column;
    }

    .achieve-heading h2 {
        text-align: center;
    }

    .form-section {
        flex-direction: column-reverse;
        gap: 50px !important;
    }

    .plan-card-section {
        flex-direction: column;
    }

    .brand-img-section {
        width: 350px;
        overflow-x: auto;
    }

    .contact-us-section {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: normal;
    }

    .form-div {
        width: auto !important;
    }

    .plan-card {
        width: 300px !important;
    }

    .form-img img {
        display: none !important;
    }



    .plan-section {
        padding-top: 70px !important;
    }

    .hero-banner a {
        padding: 10px 30px;
        width: 220px;
    }

    #white-btn {
        padding: 10px 26px;
        width: 185px !important;
    }

    .main {
        padding-top: 30px;
    }

    .tracking-section {
        padding: 20px 17px;
    }

    .achieve-heading h2 {
        font-size: 36px !important;
    }

    .tracking-heading h1 {
        width: 100%;
        font-size: 36px !important;
    }

    footer {
        align-items: left !important;

    }

}

.nav-bar-links-responsive {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.nav-bar-links-responsive .nav-bar-links-responsive li a {
    color: #000;
}

.hamburger {
    display: none;
    cursor: pointer;

}

.hamburger {
    color: white;

}

.fixed .hamburger {
    color: #000;
}

.hamburger.black {
    color: #000;

}


.pricing-hamburger {
    color: #000 !important;
}



.achievement-section {
    width: 100%;
    background: #f6f5ff;
    padding: 101px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border-bottom: solid 5px #2a1fbc;
    justify-content: center;
    padding: 10px 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 10px;
}

.card i {
    font-size: 40px;
    color: #2a1fbc;
}

.card p {
    font-weight: 600;
    font-size: 16px;
}

.card span {
    font-size: 48px;
    font-weight: bold;
    color: #343a40;
}

.achieve-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

}

.achieve-heading P {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    width: 55%;
}

.achieve-heading h2 {

    font-size: 48px;
    font-weight: bold;
    color: #000;
    letter-spacing: -1px;
}

.achievement-cards {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.form-section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
    padding: 65px 50px 65px 160px;
    max-width: 1350px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.form-para p {
    text-align: left;
    width: 100%;
    font-size: 17px;

}

.form-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-header h3 {
    font-size: 28px;
    font-weight: bold;
}

.form-header span {
    font-family: 'Alegreya', serif;
    font-style: italic;
    color: #291fbc;
}

.form-control {
    height: 48px;
    padding: 0 15px;
    font-size: 15px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    border-radius: 7px;
    border: solid 1px #ced4da;
    font-size: 16px;
}

.form-control-message {
    height: 150px;
    padding: 15px 15px;
    border: solid 1px #ced4da;
    border-radius: 7px;
    font-size: 16px;
}

.form-btn {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0px 30px;
    line-height: 48px;
    box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
    background-size: auto 140%;
    border: 0px;
    background-image: linear-gradient(to bottom, #488fed 0%, #2a1fbc 100%);
    color: #fff;
    border: solid 1px #9c9c9c;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    transition: 0.3s ease-in-out;

}

.form-btn:hover {
    background-color: #291fbc;
    background-image: unset;

}

input:focus {
    border: 3px solid #276ae77e;
}

.form-control-message:focus {
    border: 3px solid #276ae77e;
    outline: none;
}

input:focus {
    outline: none;
}

.form-div {
    padding: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 65%;
    border-radius: 10px;
    background-color: #fff;
}

.form-text h2 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1px;
}

.form-text span {
    font-family: 'Alegreya', serif;
    font-style: italic;
    color: #291fbc;
}

.form-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-img {
    position: absolute;
    top: 200px;
    left: 45px;
    z-index: -1;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);

    }

    100% {
        transform: translateY(0);

    }
}


.form-img img {
    animation: slideUp 1s ease forwards;

}

.form-box-title h2 {
    position: relative;
    left: 125px;
    bottom: 50px;
}

.plan-section {
    padding-top: 130px;
    padding-bottom: 100px;
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f6f5ff;
}

.plan-card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 60px 0px;
    max-width: 1350px;
}

.plan-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 25%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    padding: 50px 30px;
    border-radius: 10px;
    background-color: #fff;
}

.plan-card-img {
    transform: scale(1.1);
}

.plan-heading h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -1px;
}

.plan-para p {
    font-size: 18px;
    text-align: center;
    width: 60%;
    line-height: 1.6;
}

.plan-card-body p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

.plan-card-body ul li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
}

#cross {
    color: #0000004d;
}

.plan-card-body ul li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\2713";
    font-size: 20px;
    color: #291fbc;
    font-weight: 900;
    margin-right: 10px;

}

#cross::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\00D7";
    color: #ea3939;
    font-weight: 900;
    font-size: 20px;
    margin-right: 10px;
}

.plan-card-btn a {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px 30px;
    line-height: 48px;
    background-color: #291fbc;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: 0.4s ease-in-out;
}

.plan-card-btn a:hover {
    background-color: #1000ff;
}

.plan-primary-btn a {
    background-color: #485974;
    transition: 0.4s ease-in-out;
}

.plan-primary-btn a:hover {
    background-color: #182a45;
}

.plan-para {
    display: flex;
    justify-content: center;
}

.plan-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.plan-card h3 {
    font-size: 36px;
    font-weight: bold;
    color: #291fbc;
}

.plan-cost span {
    font-size: 60px;
    font-weight: 700;
}

.plan-cost span sup {
    font-size: 36px;
    font-weight: 900;
}

.plan-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.plan-validity {
    position: relative;
    bottom: 25px;
    left: 3px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.plan-card-img {
    background-image: url(images/plan-card-header-bg.png);
    background-repeat: no-repeat;
}

.plan-card-img h3 {
    color: #fff;
}

.plan-card-img .plan-cost span {
    color: #fff;
}

.plan-card-img .plan-validity {
    color: #fff;
}

.brand-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.brand-heading span {
    font-family: 'Alegreya', serif;
    font-style: italic;
    color: #2a1fbc;
}

.brand-heading h2 {
    font-size: 48px;
    font-weight: bold;
    width: 65%;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -1px;
}

.brand-para p {
    font-size: 20px;
    line-height: 1.6;
    color: #272827;
    text-align: center;
    padding: 0px 275px;
}

.brand-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 55px 0px;
}

.brand-img-section {
    display: flex;
    gap: 20px;
}

.brand-img-section img {
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 15px 40px;
}

.contact-us-section {
    background-image: url(images/bg-2.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0px;
    color: #fff;
    gap: 35px;
    background-repeat: no-repeat;
}

.contact-section {
    max-width: 1350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

.contact-us-section p {
    font-size: 20px;
    line-height: 1.6;
}

.contact-btn a {
    font-size: 16px;
    line-height: 56px;
    min-width: 270px;
    background-color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 6px;
    color: #000;
    transition: 0.4s ease-in-out;
}

.contact-btn a:hover {
    background-color: #ffffffe0;
}

.contact-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-text h2 {
    font-size: 48px;
    font-weight: bold;
}

.contact-text span {
    font-family: 'Alegreya', serif;
    font-style: italic;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1350px;
    gap: 50px;
    padding: 80px 20px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-nav-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email-section {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 25%;
}

.footer-links ul li {
    list-style-type: none;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-control-footer {
    height: 48px;
    padding: 0 10px;
    font-size: 15px;
    width: 270px;
    border-radius: 6px;
    color: var(--body-text-color);
    border: solid 1px #ced4da;
}

.footer-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: linear-gradient(to bottom, #488fed 0%, #2a1fbc 100%);
    box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
    color: #fff;
    background-image: linear-gradient(to bottom, #488fed 0%, #2a1fbc 100%);
    outline: none;
    border: none;
    width: 200px;
    border-radius: 7px;
    cursor: pointer;
    transition: ease-in-out;
    text-transform: uppercase;
}

.footer-btn:hover {
    background-color: #291fbc;
    color: #fff;
    background-image: unset;
}

.footer-nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.footer-nav-links a::before {
    font-size: 16px;
    font-family: "Font Awesome 5 Free";
    content: "\f28d";
    font-weight: 400;
    color: #291fbc;
    margin-right: 15px;
}

.footer-nav-links a:hover:before {
    color: #291fbc81;
}

.footer h3 {
    color: #291fbc;
    font-size: 20px;
    font-weight: bold;
}

.footer-links ul li i {
    color: #291fbc;
    margin-right: 10px;
}

.social-media-links a {
    border: 1px solid #b6b3b3;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 24px;
    color: #000;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.social-media-links {
    display: flex;
    gap: 15px;

}

.social-media-links a:hover {
    color: #fff;
}

.social-media-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a1fbc;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.social-media-links a:hover::before {
    transform: translateY(0);
    z-index: -1;
}

.openBtn {

    font-size: 20px;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 50%;
    left: 10%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    color: #fff;
    float: left;
    width: 80%;
    background: none;
    border: solid 1px white;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}

.bottom-to-top-btn i {
    background-color: #291fbc;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    rotate: 180deg;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
    scroll-behavior: smooth;
}

html,
body {
    scroll-behavior: smooth;
}

.hero-section a {
    position: relative;
}

.bottom-to-top-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 50%;
    z-index: -1;
    animation: ripple 1.5s ease-out infinite;
    animation-delay: 0.2s;
    background-color: #1606f594;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(3);
    }
}

.page-header {
    display: flex;
    height: 100%;
    align-items: center;
}

.full-height {
    height: 100vh;
}

/* login-page-css */
.log-in-container {
    background-image: url(images/bg-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;


}

.log-in-inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


}

.intro-box {
    background: linear-gradient(45deg, #488fed 0%, #291fbc 51%, #0f0786 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 130px 50px;
    width: 600px;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.intro-heading h1 {

    font-size: 48px;
    font-weight: bold;
    color: var(--heading-text-color);
    letter-spacing: -1px;
    margin-bottom: 18px;
}

.intro-para p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;

}

.intro-btn a {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 14px 30px;
    border-radius: 5px;
    line-height: 48px;
    text-decoration: none;
    background: #ffffff;
    color: #485974;
    transition: 0.3s ease-in-out;
}

.intro-btn a:hover {
    color: #291fbc;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.form-box {
    background-color: #fff;
    padding: 128px 40px;
    width: 400px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.intro-heading span {
    font-family: 'Alegreya', serif;
    font-style: italic;
}

.form-box form a {
    padding: 0;
    text-transform: none;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    outline: none !important;
    box-shadow: none;
    border-bottom: 2px solid rgb(167, 166, 166);
    display: inline-block;
    border-radius: 0px;
    text-decoration: none;
    text-align: center;
    margin: 15px 0px;
    color: #000;
    transition: 0.5s ease-in-out;
}

.form-box form a:hover {

    border-bottom: 2px solid rgb(116, 115, 115);

}

.form-box form button {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0px 30px;
    line-height: 48px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: linear-gradient(to bottom, #488fed 0%, #2a1fbc 100%);
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
}

.form-box form button:hover {
    background: #291fbc;

}

.line-btn {
    text-align: center;
}

.nav-log-in h3 {
    position: absolute;
    bottom: 420px;
    right: 0px;
    color: #000;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px 0px 0px 6px;
}

/* price-page-img */
.price-hero-banner {
    background: url(images/half-circle-bg.png) no-repeat scroll bottom center;
    width: 100%;
    padding: 195px 0px 130px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    color: #fff;
}

.price-hero-banner ul li {
    display: inline-block;
}

.price-hero-banner p {
    font-size: 20px;
    line-height: 1.6;
}

.pricing-links li a::after {
    content: "/";
    margin: 0px 10px;
}

.pricing-links li a {
    text-decoration: none;
    color: #fff;
}

.pricing-links {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin: 0px auto 0px;
    display: table;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background: rgba(0, 0, 0, 0.08);
    padding: 10px 30px;
}

.price-heading h1 {
    margin-bottom: 18px;
}

.price-heading p {
    margin-bottom: 18px;
}

.pricing-log-in {
    display: none !important;
}

.pricing-header {
    background-color: #fff !important;
    color: #000;
}

.pricing-header .nav-bar-links a {
    color: #000;
}

.pricing-header .logo-img h1 {
    color: #000;
}

.card-section-heading {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 70px 0px;

}

.card-section-heading h1 {
    color: #000;
}


.price-card-row1::before {
    margin-left: 100px;
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: -1;
    content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

    transform: translateY(-50%);
}

.price-plan-card {
    width: 100%;
    position: relative;


}

.plan-cost-box {
    background: linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
    width: 160px;
    height: 160px;

    border-radius: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: -79px;
    left: 110px;
}


.price-plan-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 100px 0px;
    position: relative;
    width: 1160px;

}

.plan-cost-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.plan-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.plan-card-header p {
    text-align: center;
}

.price-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 120px 35px 50px 35px;
    border-radius: 10px;
    width: 370px;
}

.price-card-btn a {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0px 30px;
    line-height: 48px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: 0;
    background-color: #485974;
    border-color: #485974;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: #fff;
    padding: 15px 37px;
}

.plan-card-body ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.plan-card-body ul li {
    font-weight: 400;
    font-size: 17px;
}

.plan-cost-c {
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: -1px;
    color: var(--white-color);
    line-height: 0.8;
    display: flex;

}

.plan-cost-box .plan-validity {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.plan-cost-c sup {
    font-size: 36px;
}

.card-title h2 {
    font-size: 36px;
    font-weight: bold;

    letter-spacing: -0.6px;
}

.plan-card-header P {
    font-size: 16px;
    line-height: 1.5;
    color: #3f3f3f;
}

.card-section-heading p {
    font-size: 20px;
    text-align: center;
    width: 60%;
    color: #424242;
}

.cost-box-color {

    background: #485974;
}

.extra-color a {
    background-image: linear-gradient(to bottom, #488fed 0%, #2a1fbc 100%);
}

.princing-links li:nth-child(2) {
    color: #ffffff6b;
}

#li-colored {
    color: #ffffff93 !important;
}

/* demo-page-css */
.form-container {
    background: linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
    /* height: 100vh; */
    width: 100vw;
    padding: 105px 0px 0px 0px;
    text-align: center;
    color: #fff;
}

.form-container h3 {
    font-size: 32px;
    font-weight: 600;
}

.icon-mobile {
    font-size: 24px;
    color: #000;
    display: flex;
    align-items: center;
}


.form-container h5 {
    font-size: 16px;
    font-weight: 500;
}

.user-icon::before {
    content: "\f007";
    font-family: 'Font Awesome 5 Free';
    color: #000;
    font-size: 24px;
}



.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    padding: 10px 0px;
}

.tab1 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;

    width: 100px;
    height: 100px;
}

.tab1 a {
    background-color: #fff;
    border-radius: 50%;
    padding: 20px;
    width: 60px;
    height: 60px;
}

.steps::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    color: #fff;
    background: #fff;
    width: 440px;
    top: 214px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 50px 0px;
    width: 100vw;
    gap: 5px;
}

.form-demo {
    display: block;
    width: 35vw;
    height: 40px;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 7px;
    border: none;
}

.form-message-demo {
    width: 35vw;
    resize: vertical;
    padding: 6px 12px;
    height: 40px;
    border-radius: 6px;
    outline: none;
}

textarea:focus {
    border: 3px solid #276ae77e;
}

form h4 {
    font-size: 24px;
    font-weight: 600;
}

.continue-btn {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0px 40px;
    line-height: 45px;
    border: none;
    color: #000;
    text-decoration: none;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #fff;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
}

.continue-btn:hover {
    background-color: #ffffffc0;

}

/* hamburger-overlay-menu */
.overlayc {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlayc-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlayc a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.overlayc a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlayc .closebtn {
    position: absolute;
    top: 100px !important;
    right: 45px;
    font-size: 25px;
}

@media screen and (max-height: 450px) {
    .overlayc a {
        font-size: 20px
    }

    .overlayc .closebtn {
        position: absolute;
        top: 100px !important;
        right: 45px;
        font-size: 25px;
    }
}

/* contact-page-css */
.contact-form {
    display: flex;

    justify-content: center;
    padding: 100px 100px;
    gap: 30px;
}

.contact-form-card-section {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.contact-from-card {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    gap: 19px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 350px;
    height: 250px;
}

.contact-from-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;

    font-style: normal;
    color: #2a1fbc;
}

.form-heading h2 span {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Alegreya', serif;
    font-style: italic;
    letter-spacing: -1px;
    color: #2a1fbc;
}

.form-heading h2 {
    font-size: 48px;
    font-weight: bold;

    letter-spacing: -1px;
}

.form-heading {
    display: flex;
    flex-direction: column;

}

.text-wrapper {
    margin-top: 35px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-control-contact {
    width: 100%;
    padding: 0px 15px;
    line-height: 47px;
    border-radius: 6px;
    border: solid 1px #ced4da;
    font-size: 15px;
}

.form-contact-input {
    width: 100%;
    padding: 0px 15px;
    line-height: 47px;
    border-radius: 6px;
    border: solid 1px #ced4da;
    font-size: 15px;
}

.form-control-txt {
    width: 100%;
    padding: 0px 15px;
    line-height: 74px;
    border-radius: 6px;
    border: solid 1px #ced4da;
    font-size: 15px;
    outline: none;
    resize: vertical;
}

.icon i {
    font-size: 35px;
}

.content h4 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.4px;
}

.content p {
    font-size: 17px;
    line-height: 1.5;
    color: #434343;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-from-group a {
    background-image: linear-gradient(to bottom, #488fed 0%, #2a1fbc 100%);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
    box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
    background-size: auto 140%;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0px 36px;
    line-height: 48px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;


    text-decoration: none;
    color: #fff;
    width: 180px;

}

.contact-from-group a:hover {
    background-image: unset;
    background-color: #291fbc;
}

.content p a {
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    outline: none !important;
    box-shadow: none;
    border-bottom: 2px solid #ebebeb;
    border-radius: 0px;
    color: #212529;
}

input:focus {
    outline: none;
    /* Removes the outline when input is focused */
    /* Or adjust the box-shadow */
    box-shadow: none;
}

input {
    transition: box-shadow 0.3s ease;
    /* Apply smooth transition to box-shadow */
}

.hero-section {
    background: url(images/traiangle-transparent-bg-flip.png);

    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-content form input[type="text"]::after {
    content: "\f002";
    /* Unicode for a search icon */
    font-family: FontAwesome;
    /* Use a font that includes search icon */

    color: #fff;
}

.privacy-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    padding: 100px 0px;
}

.privacy-policy-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms-container {
    display: flex;
    flex-direction: column;

}

.term-sub-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 20px;
}
/* testimonial-section */
.multiple-items{
    max-width: 1200px ;
    padding: 100px 0px !important;
}
.slick-prev:before{
    color: #000 !important;
    font-size: 40px !important;
}
.slick-next:before{
    color: #000 !important;
    font-size: 40px !important;
}
.slick-carousel-content{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.slick-carousel-content p{
    text-align: center;
}
